<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="test" connectionString="Data Source=FX007119M\SQLEXPRESS;Database=reactiveetl;Integrated Security=True;Pooling=False" providerName="System.Data.SqlClient.SqlConnection, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <add name="OMEGA_PROD" connectionString="Data Source=WINPRODFGA\Q1;Initial Catalog=OMEGA;Persist Security Info=True;User ID=OMEGA_LEC;Password=OMEGA_LEC2011;Type System Version= 'SQL Server 2005'" providerName="System.Data.SqlClient.SqlConnection, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <!-- la base de DEV permet la création du model-->
    <add name="DEV" providerName="System.Data.SqlClient" connectionString="server = FX026132M\SQLEXPRESS ; database = FGA_DATAMODEL ; Integrated Security = true  " />
    <!-- impossible de creer le data model sur la PROD-->
    <add name="PROD" providerName="System.Data.SqlClient" connectionString="server = MEPAPP042_R ; database = E2DBFGA01 ; uid=E2FGATP ; pwd = E2FGATP25" />
    <!--add name="test" connectionString="Data Source=localhost;Database=reactiveetl;Integrated Security=true;" providerName="System.Data.SqlClient.SqlConnection, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <add name="input" connectionString="Data Source=localhost;Database=AdventureWorksDW;Integrated Security=true;" providerName="System.Data.SqlClient.SqlConnection, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <add name="advwrk" connectionString="Data Source=localhost;Database=AdventureWorksDW;Integrated Security=true;" providerName="System.Data.SqlClient.SqlConnection, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <add name="output" connectionString="Data Source=localhost;Database=McnCommerceTests;Integrated Security=true;" providerName="System.Data.SqlClient.SqlConnection, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" /-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=.\SQLEXPRESS; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>